/*******************
 backend/jobs.config
 *******************

 'backend/jobs.config' is a Velo configuration file that lets you schedule code to run repeatedly at specified intervals. 

 Using scheduled jobs you can run backend code without any user interaction. For example, you could generate a weekly 
 report or run nightly data cleansing.

 You schedule code to run by creating a job.
 Each job defines which function to run and when to run it.

 ---
 More about Scheduled Jobs: 
 https://support.wix.com/en/article/velo-scheduling-recurring-jobs
 
 Online tool for building Velo cron expressions
 https://wix.to/NDAQn6c

*******************/

// The following code is an example of a job. Adapt the code for your specific use case.
{
 "jobs": [{
         // Option 1: Define execution interval using a cron expression
         "functionLocation": "/module/filename.js(w)", // Relatively to Backend folder, started by slash
         "functionName": "funcName",
         "description": "describe your job", // Optional
         "executionConfig": {
             "cronExpression": "45 10 * * *" // Set a recurrence of no less than 1 hour
             // Read about Cron expressions: [https://en.wikipedia.org/wiki/Cron#CRON_expression]
         }
     },
     {
         // Option 2: Ddefine execution interval by setting time, day of week, and day of month
         "functionLocation": "/module/filename.js(w)", // Relative to Backend folder, started by slash
         "functionName": "funcName",
         "description": "describe your job", // Optional
         "executionConfig": {
             "time": "10:23" // "hh:mm" 24h format, UTC timezone (e.g. 13:00)
             // Optional: Uncomment section below for more complex intervals
             // "dayOfWeek": "Monday", // Day of week
             // "dateInMonth": 1 // Number between 1-31
         }
     },
     {
         // Add more jobs. Up to 20 jobs supported.
     }
 ]
}
